.formContainer {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 1rem;
}

.formContainer input {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 2px;
    color: #909090;
}

.formContainer button {
    background-color: #33CCCC;
    border: solid 2px #33CCCC;
    color: white;
    padding: 0.8rem 2rem;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    border-radius: 3px;
}

.formContainer button:hover {
    background-color: white;
    color: #33CCCC;
}


@media only screen and (max-width: 890px) {
    .formContainer {
        margin: 0 0.5rem;
    }
}
